<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Monitoreo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Monitoreo</ion-title>
    </ion-toolbar>
  </ion-header>

      <ion-card color="danger">
        <ion-card-header>
          <ion-icon name="eyedrop" size="large"></ion-icon>
          <ion-card-title>Limpio</ion-card-title>
          <ion-card-subtitle>Contaminación del agua</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card color="primary">
        <ion-card-header>
          <ion-icon name="logo-twitter" size="large"></ion-icon>
          <ion-card-title>Presentes</ion-card-title>
          <ion-card-subtitle>Presencia de Aves</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

</ion-content>